*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
   
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
}
#input-box{
    border: none;
    outline: none;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 14px;
    padding-left: 20px;
    
}
.hari-waktu{
    background-color: #edeef0 ;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#pilih{
    color: #555;
    margin-bottom: 5px;
    font-style: italic;
}
#day{
    background-color: #fff;
    color: #191919;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 15px;
}
#inputTime{
    background-color: #fff;
    color: #191919;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 15px;
}
button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #5FDD60;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    width: 200px;
    
}
button:hover{
    opacity: 0.8;
}
#info{
    text-align: center;
    color: #555;
    padding-top: 30px;
    font-style: italic;
    margin-top: 20px;
   
}
#c{
    text-align: center;
    color: rgb(189, 185, 185);
}
ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 20px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
    
}
ul li.checked {
    color: #555;
    text-decoration: line-through;  
    
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
}
ul li span:hover{
    background: #edeef0;
}

.icon, .day, .time {
    position: relative;
    display: flex;
    align-items: center;  
    font-weight: 400;
    opacity: 0.8;
}


.icon{
right: 390px;
bottom: 20px;
font-size: 13px;
}

.day{
    left: 10px;
    font-size: 15px;
}
.time{
    left: 8px;
    font-size: 15px;
}






.day{
    left: 10px;
    font-size: 15px;
}
.time{
    left: 8px;
    font-size: 15px;
}

@media (max-width: 560px) {
   
    .icon {
      right: 250px;
      bottom: 20px;
      font-size: 13px;
    }
  }
  @media (max-width: 460px){
    .icon {
        right: 220px;
        bottom: 15px;
        font-size: 13px;
      }
  }
  @media (max-width: 400px){
    .icon {
        right: 210px;
        bottom: 15px;
        font-size: 13px;
       
      }
  }
  @media (max-width: 375px){
    .icon {
        right: 190px;
        bottom: 15px;
        font-size: 13px;
      }
  }
  @media (max-width: 350px){
    .icon {
        right: 170px;
        bottom: 15px;
        font-size: 13px;
      }
  }
